*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left, 
.right{
    display: inline-block;
}

.right{
    line-height: 80px;
    float: right;
    margin-right: 15px;
}

header .left{
    line-height: 80px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 0 10px ;
    text-decoration: none;
    color: black;
}


header #logo img{
    vertical-align: text-bottom;
}

.btn{
    padding: 5px 15px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

.jumbotron{
    width: 100%;
    height: 525px;
    margin-top: 80px;
    background-color: #b4d0e7;
}

.container-jumbo{
    width: 80%;
    margin: 0 auto;
}

.jumbotron h1{
    padding-top: 25px;
    font-size: 60px;
}

.text{
    width: 40%;
    margin-top: 30px;
    float: left;
}

.text p{
    margin-bottom: 35px;
}

.text a{
    text-decoration: none;
}

.text span{
    display: block;
    margin-top: 15px;
    font-size: 13px;
}

.text i{
    font-size: 35px;
    margin-top: 20px;
}

.img-jumbo{
    width: 60%;
    margin-top: 30px;
    float: left;
}

.img-jumbo img{
    margin-left: 30px;
    width: 100%;
}
/* debug */

.debug{
    height: 800px;
}


