*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left, 
.right{
    display: inline-block;
}

.right{
    line-height: 80px;
    float: right;
    margin-right: 15px;
}

header .left{
    line-height: 80px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 0 10px ;
    text-decoration: none;
    color: black;
}


header #logo img{
    vertical-align: text-bottom;
}

.btn{
    padding: 5px 15px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

.glass{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.jumbotron{
    width: 100%;
    height: 577px;
    margin-top: 80px;
    background-color: #b4d0e7;
}

.container-jumbo{
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}

.jumbotron h1{
    padding-top: 80px;
    font-size: 60px;
}

.text{
    width: 40%;
    margin-top: 30px;
    float: left;
}

.text p{
    margin-bottom: 35px;
}

.text a{
    text-decoration: none;
}

.text span{
    display: block;
    margin-top: 15px;
    font-size: 13px;
}

.text i{
    font-size: 35px;
    margin-top: 20px;
}

.img-jumbo{
    width: 60%;
    margin-top: 30px;
    float: left;
}

.img-jumbo img{
    margin-left: 30px;
    width: 100%;
}

/* main */

main{
    margin-top: 150px;
}

.container-main{
    width: 70%;
    margin: 0 auto;
}

.fatturazione{
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 15px;
    display: inline-block;
    margin-right: 10px;
}

.container-main .circle{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.azzurro{
    border: 3px solid #0061ff;
}

.grey{
    border: 1px solid #e5e5e7;
}

.container-main .fatturazione span{
    font-size: 12px;
}

.piani{
    width: 100%;
}

.cln{
    width: calc((100% / 3) - 40px);
    float: left;
    border: 1px solid #dbdbde;
    min-height: 1100px;
}

.center{
    margin: 0 60px;
}

.title{
    text-align: center;
    border-bottom: 1px solid #dbdbde;
    padding: 8px 0;
}

.dettagli{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%; 
}

.dettagli h3{
    font-weight:800;
    font-size: 22px;
    margin-bottom: 10px;
}

.dettagli .prezzo{
    font-weight: bold;
}

.dettagli .periodo{
    display: block;
    font-size: 12px;
    color: #7f8c98;
    margin-top: 5px;
    margin-bottom: 30px;
}

.dettagli ul{
    margin-bottom: 30px;
}

.dettagli ul li{
    list-style: none;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
}

.dettagli ul li i{
    position: absolute;
    top: 6px;
    left: 0;
}

.dettagli .btn{
    text-decoration: none;
}

.dettagli span{
    margin: 30px 0;
    display: block;
}

.linea{
    width: 20%;
    border: 0.5px solid #dbdbde;
    margin-bottom: 30px;
}

.dettagli h4{
    margin-bottom: 20px;
}

.dettagli .spunta{
    color: #0362ff;
}

.enterprise{
    width: 100%;
    margin-top: 40px;
    border: 1px solid #dbdbde;
}

.box-container{
    width: 95%;
    margin: 0 auto;
}

.enterprise .title{
    border-bottom: 1px solid #dbdbde;
}

.enterprise .text{
    width: 70%;
    float: left;
}

.enterprise .contact{
    margin-top: 35px;
    width: 30%;
    float: right;
}

.enterprise .text h3{
    margin-bottom: 10px;
}

.enterprise .text div{
    margin-bottom: 20px;
}

.enterprise .contact a{
    text-decoration: none;
    padding: 5px 40px;
}

.partner{
    width: 100%;
    margin-top: 120px;
}


.partner-img{
    width: 55%;
    margin-right: 5%;
    float:left
}

.partner-img img{
    width: 100%;
}

.partner-text{
    width:40%;
    float: left;
    margin-top: 40px;
}

.partner-text p{
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.partner .partner-text a{
    text-decoration: none;
    font-size: 13px;

}

.business{
    width: 100%;
    margin-top: 100px;
}

.raw-a{
    width: 100%;
}

.box{
    width: calc((100% / 3) - 40px);
    float:left
}



    



/* debug */

/* .debug .container-main{
    height: 1800px;
    background-color: tomato;
} */

 /* .debug .piani{
    background-color: hotpink;
    height: 600px;
}

.debug .cln{
    background-color: rgb(188, 94, 255);
} */
/* 
 .debug .enterprise{
     height: 200px;
     background-color: lightpink;
 } */

 /* .debug .partner{
     height: 600px;
     background-color: magenta;
 }

 .debug .partner-img{
     height: 200px;
     background-color: mediumpurple;
 }

 .debug .partner-text{
     height: 200px;
     background-color: mediumslateblue;
 } */


 .debug .business{
     height:500px;
     background-color: magenta;
 }

 .debug .box{
     height: 200px;
     background-color: indigo;
 }
