*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    width: 100%;
    background-color: grey;
    position: fixed;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left, 
.right{
    display: inline-block;
}

.right{
    line-height: 80px;
    float: right;
    margin-right: 15px;
}

header .left{
    line-height: 80px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 0 10px ;
    text-decoration: none;
    color: black;
}


header #logo img{
    vertical-align: text-bottom;
}

.btn{
    padding: 5px 15px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

/* debug */


}